.SearchBar{
    position: relative;
    top: 84px;
}
.SearchBar input{
    font-size: 20px;
    background-color: rgba(10,15,30,0.7);
    box-shadow: 0 0 10px rgba(60,90,180,0.8);
    border: 1px solid rgba(90,135,255,1);
    border-radius: 10px;
    margin-right: 8px;
}
.SearchBar input::placeholder{
    color: #aaa;
}
.SearchBar input:hover{
    background-color: rgba(20,30,60,0.7);
}
.SearchBar button{
    font-size: 20px;
    color: #000;
    background-color: rgb(90,135,255);
    box-shadow: 0 0 10px rgba(60,90,180,0.8);
    border: 1px solid rgb(120,180,255);
    border-radius: 10px;
}
.SearchBar button:hover{
    background-color: rgb(105,157,255);
    border: 1px solid rgb(135,202,255);
}
.SearchBar button:active{
    background-color: rgb(120,180,255);
    border: 1px solid rgb(150,250,255);
}